
/* css */

.topnav {
    background-color: black;
    height: 50px;
    font-family: "Montserrat", sans-serif; 
    
}

.topnav a { 
    float: right; 
    color: white;
    text-align: center; 
    padding: 14px 16px; 
}

.topnav p{ 
    float: left; 
    color: white; 
    text-align: center; 
    padding: 14px 16px; 
}

.logo img { 
    padding-top: 50px; 
    margin-bottom: 1%;
}



.mains { 
    padding-top: 5%;
}

h2, h4 { 
    font-family: "Maname", serif; 
}

p {
    font-family: "Montserrat", sans-serif;
}

.second{ 
    background-color: #E7E0D7;
    margin: 20px 0; 
    padding: 20px; 
    border-radius: 8px; 
}

.text-justify{ 
    text-align: justify; 
}

.center-img{ 
    display: block; 
    margin: 0 auto; 
}

.bottoms { 
    padding-top: 4%; 
}

.tests h2{ 
    font-family: "Maname", serif;
    padding-bottom: 3%; 
    text-align: center;

}


.calculate { 
    border: 2px solid #AE4F4A; 
    margin-top: 3%;
}